{include file='ebcms@common/header' /}
<script>
    $(function() {
        $('#__user_info_tab > .tab-head').bind('click', function(event) {
            $(this).addClass('current').siblings().removeClass('current');
            $('#_user_main').attr('src', $(this).data('url'));
        });
        setTimeout(function() {
            $('#__user_info_tab > .tab-head:eq(0)').trigger('click');
        }, 10);
    });
</script>
{php}
    $user = \app\user\model\User::get(input('id'));
    $param = [
        'user_id'   =>  $user['id'],
        'tabs'      =>  [
            '基本信息'  =>  \think\Url::build('user/admin.user/info?do=baseinfo&id='.$user['id'])
        ]
    ];
    \think\Hook::listen('user_tab',$param);
    $tabs = $param['tabs'];
{/php}
<div class="col-md-12">
    <h3>
        <span><a href="{:url('user/admin.user/index')}">用户管理</a></span>
    </h3>
    <hr>
    <div class="media">
        <div class="media-left">
            <div class="thumbnail" style="width: 215px;">
                <img class="media-object" src="{$user.avatar|thumb=200,200,3}" width="200" height="200" alt="...">
                <div class="caption">
                    <div class="text-center" style="line-height: 2em;font-size: 2em;">{$user.nickname}</div>
                    <p>
                        <div class="btn-group btn-group-sm">
                        {if condition="check_auth('currency')"}
                            <a href="{:url('currency',['user_id'=>$user['id']])}" class="btn btn-danger">财务</a>
                        {/if}
                        {if condition="check_auth('msg')"}
                            <a href="{:url('msg',['user_id'=>$user['id']])}" class="btn btn-danger">消息</a>
                            <a href="{:url('ebcms/index/email',['email'=>$user['email'],'topic'=>'系统消息'])}" class="btn btn-danger">邮件</a>
                        {/if}
                        </div>
                    </p>
                    <p>
                        <div class="btn-group btn-group-sm">
                            {if condition="check_auth('edit')"}
                            <a href="{:url('edit',['id'=>$user['id']])}" class="btn btn-primary">编辑</a>
                            {/if}
                            {if condition="check_auth('password')"}
                            <button type="button" class="btn btn-primary ebcms-do" url="{:url('password')}" data-id='{$user.id}' confirm="重置密码将以邮件的形式发送到对方邮箱，继续吗？">重置密码</button>
                            {/if}
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="media-body">
            <div class="tabs" id="__user_info_tab">
                {foreach $tabs as $key => $url} 
                    <div class="tab-head" data-url="{$url}">{$key}</div>
                {/foreach}
            </div>
            <iframe id="_user_main" name="_user_main" src="" frameborder="0" width="100%" height="600" frameborder="0" style="display: block;"></iframe>
        </div>
    </div>
</div>
{include file='ebcms@common/footer' /}